<!DOCTYPE html>
<html lang = "es">
    
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel = "stylesheet" type = "text/css" href = "demo.css">
        <script src = "https://unpkg.com/vue@next"></script>
        <title> Session 10 </title>
    </head> 
    
    <body class = "letra fondo">

        <div id="v-model-select-dynamic" class="contenedor">

            <select v-model="selected">
                <h3 style = "font-weight: bold;"> # Select con v-for </h3>
                <option v-for="option in options" v-bind:value="option.value">
                  {{ option.text }}
                </option>
              </select>
              <br />
              <br />
              <span>Tu has seleccionado el {{ selected }}</span>
            
        </div>
        
    </body>

    <script src = "./07-Select-For.js"></script>

</html>